
body, html
{
    min-width: 825px;   
}

*
{
    padding:0px;
    margin:0px;
}

.tb 
{    
    display: table;    
}

.beautiful_border 
{
    padding: 25px;
    background: rgb(250,250,250);
    background: -moz-linear-gradient(top,  rgba(250,250,250,0.5) 0%, rgba(250,250,250,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,0.5)), color-stop(100%,rgba(250,250,250,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
        inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
        inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
        inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

body
{
    font-family: Tahoma, Arial, sans-serif;
    font-size:14px;
}

.center-sb p 
{
    padding-top: 5px;
    margin-top: 0px;
}

.center-sb img 
{
 max-width: 100%;
 margin: 10px;
}

.content 
{
    padding-right: 25px;
}

.wrapper
{
    width:100%;
    margin:0px auto;
}
.top
{
    position: relative;
    height:50px;
    margin-bottom: 50px;
    border-bottom:1px solid rgba(0, 0, 0, 0.3);;
}
.topContainer
{
    max-width: 1100px;

    margin: 0 auto;
}
.top .menu A
{
    color: #7f7f7f;
    text-decoration:none;
    margin-top:22px;
    padding:0px 40px;
    display:inline-block;
}
.top .menu A.active
{
    color: #000000;

    margin-top:3px;
    vertical-align:top;
    padding-top: 6px;
    padding-bottom: 24px;

    background-position: center bottom;
}
.top .menu A.active:hover
{
    color: #000000;
    border-top:3px solid #000000;
    margin-top:0px;
    vertical-align:top;
    padding-top: 6px;
    padding-bottom: 24px;
    background-image: url("../Images/i_arrow.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.header
{
    height:280px;
    position:relative;
}

.logo
{
    background-image: url("../Images/logo.png");
    background-repeat: no-repeat;
    width:481px;
    height:207px;

    left: 50px;
    top: 50px;
    float: left;
    position:relative;
}
.header .img
{
    background-image: url("../Images/bg.png");
    background-repeat: no-repeat;
    width:852px;
    height:186px;
    position:absolute;
    top:0px;
    right:0px;
}
.content
{
    position:relative;
    max-width: 1100px;
    margin: 0 auto;
}


.content .left-sb
{
    position:relative;
    left:25px;
    width: 200px;
    float: left;
}

.content .right-sb
{
    position:relative;
    right:25px;
    width: 200px;
    float: right;
}	

.content .center-sb
{
    margin-left: 250px;
    margin-right: 250px;
}


.content .left-sb H2, .content .right-sb H2
{
    color: #54d3d2;
    font-size: 18px;
    padding-left:25px;
    background-image: url("../Images/i_list.png");
    background-repeat: no-repeat;
    background-position: 5px;
}

.content .left-sb .row
{
    margin-top: 25px;

}

.content .left-sb .row .title
{
    color: #b1d573;
    display:block;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
}

h3.title{
    color: #b1d573;
    display:block;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
}

.content .left-sb .row H5
{
    color: #dbdbdb;
    font-size:12px;
}

.content .left-sb .row P
{
    color: #7f7f7f;
    font-size:12px;
    margin-top:5px;
}

a.file{
    color: #54d3d2;
    font-size: 12px;
    text-decoration: none;
}

a.file:hover 
{
    color: #b1d573;
}

a.adminmenu{
    color: #54d3d2;
    font-size: 18px;
    text-decoration: none;
    font-weight: 10;
}

a.adminmenu:hover{
    color: #b1d573;
}

a.categories{
    color: #b1d573;
    text-decoration: none;
}
a.categories:hover{
    color: #54d3d2;
}
a.more{
    color: #b1d573;
    text-decoration: none;
    float:right;
}
a.more:hover{
    text-decoration: underline;
    color: #54d3d2;
}
.content .left-sb .row .more
{
    color: #b1d573;
    text-decoration: none;
    float:right;
    font-weight: normal;
}
.content .left-sb .row .more:hover
{
    text-decoration: underline;
}
.content .left-sb .show-all
{
    margin-top:40px;
    padding:7px;
    color: #ffffff;
    font-size:12px;
    background-color: #a9e9e8;
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
}
.content .right-sb A
{
    margin-top: 25px;
    display:block;
}
.content .center-sb .row
{
    margin-bottom: 15px;
}
.content .center-sb .row IMG
{
    /*
    width:190px;
    float:left;
    border: 1px solid grey;*/
}
.content .center-sb .row DIV
{
    margin-left: 10px;
    margin-right: 10px;
}
.content .center-sb .row DIV H1
{
    font-size: 18px;
}
.content .center-sb .row DIV H1 A
{
    text-decoration: none;
    color: #B1D573;
    font-weight: bold;
}
.content .center-sb .row DIV H1 A:hover
{
    text-decoration: underline;
}
.content .center-sb .row P
{
    color: #7F7F7F;
}
.content .center-sb .row  li
{
    color: #7F7F7F;
}
.content .center-sb .row H5
{
    color: #DBDBDB;
    font-size: 12px;
}
.content .center-sb .row  H3
{
    color: #DBDBDB;
    font-size: 12px;
}
.content .center-sb .row .more
{
    color: #B1D573;
}

h4{
    font-weight: normal;
}

a.adminmenu{
    color: #54d3d2;
    font-size: 18px;
    text-decoration: none;
    font-weight: 10;

}
a.adminmenu:hover{
    color: #b1d573;
}















/* Login form */
label {
    display: block;
    color: #999;
}
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
.loginform input:not([type=submit]):focus {
    outline: 1px solid #00a2e2;
}
.loginform {
    display: table;
    max-width: 415px;
    margin: 0px auto;
    padding: 25px;
    background: rgb(250,250,250);
    background: -moz-linear-gradient(top,  rgba(250,250,250,0.5) 0%, rgba(250,250,250,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,0.5)), color-stop(100%,rgba(250,250,250,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
        inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
        inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
        inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.loginform ul {
    padding: 0;
    margin: 0;
}
.loginform li {
    display: inline;
    float: left;
}

.loginform input:not([type=submit]), .loginform select  {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

.pushButton 
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}


.pushButton:hover
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.wi 
{
    width: 70%;
}
.textbox 
{  
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

.loginform input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginform input[type=submit]:hover {
    background: #00a2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #00a2e2 0%, #64c8ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a2e2), color-stop(100%,#64c8ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00a2e2 0%,#64c8ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00a2e2 0%,#64c8ef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00a2e2 0%,#64c8ef 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00a2e2 0%,#64c8ef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2e2', endColorstr='#64c8ef',GradientType=0 ); /* IE6-9 */
    color: #f8f8f8;
    cursor: pointer;
}

.polaroid
{
}

.page-i 
{
    padding:3px 7px;
    position: relative;
    font: normal 16px Arial;
    outline: 1px solid #0090cf; 
    display: inline-block;
    cursor: pointer;
    background-color: #b1d573;
    color: white;
}

.activPage
{
    background: #189DE1;
    cursor: pointer; 
    color: white;
}
.pagerTitle
{
    margin-right: 20px;
    font-family: Tahoma, Arial, sans-serif;
    font-size:14px;
    color: #7f7f7f
}
.footer 
{
    position: relative;
    margin-top: 50px;
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.298);
    text-align: center;
}
.footer div 
{
    margin: 0 auto;
    display: inline;
    color: #7F7F7F;
}

.footer a 
{
    color: #b1d573;
    text-decoration: none;
    float: left;
    font-size: 10px;

}
.footer a:hover {

    text-decoration: underline;
    color: #54d3d2
}
.footer span 
{
    color: #7f7f7f;
    font-size:12px;
}
